* {
    margin: 0;
    padding: 0;
    font-family: Righteous;
}

.navHeader{
    background-color: rgba(245,173,13,255);
    font-size: 18px;
    font-weight: 600;
}

.nav-link{
    color: black;
    margin-inline: 10px;
    border-radius: 30px;
}

.nav-link:hover{
    background-color:  black;
    color:  white;
}

.navbar-toggler{
    color: black;
    border-color: black;
    border-width: 3px;
}

.mailMons{
    text-decoration: none;
    color: black;
}

.mailMons:hover{
    color: red;
    text-decoration: underline;
}

.sectionContacto{
    background-color: rgba(245,173,13,255);
    color: black;
}

iframe{
    border-radius: 36px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

.galeriaProductos img{
    cursor: pointer;
}

#productosModal .modal-img{
    width: 100%;
}

.imgProducto{
    position: relative;
    overflow: hidden;
}

.imgProducto img{
    transition: .5s ease;
    backface-visibility: hidden;
}

.infoProducto{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imgProducto:hover img{
    opacity: 0.2;
}

.imgProducto:hover .infoProducto{
    color: white;
    opacity: 1;
}

.sectionGaleria{
    background-color: rgba(245,173,13,255);
    background-image: url(../img/fondoGaleria.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.iconFooter{
    color: white;
    font-size: 40px;
    margin-inline: 8px;
}

.iconFooter:hover{
    color: rgba(245,173,13,255);
    transform: scale(1.1, 1.1);
}
